# =========================
# Build .NET
# =========================
bin/
obj/
[Bb]in/
[Oo]bj/

# =========================
# Publish
# =========================
publish/
Publish/
PubTmp/
artifacts/

# =========================
# Visual Studio / Rider
# =========================
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log

# =========================
# Uploads
# =========================
Project/wwwroot/uploads/
wwwroot/uploads/

# =========================
# Local tools
# =========================
Project/tools/tailwind/tailwindcss.exe

# =========================
# Temp
# =========================
*.tmp
*.temp

# =========================
# OS
# =========================
Thumbs.db
Desktop.ini
.DS_Store

# =========================
# Node
# =========================
node_modules/

# =========================
# Config local
# =========================
appsettings.Development.json
.env
.env.*
!.env.example

# =========================
# Cache
# =========================
.cache/
